@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
body{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.986);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('midia/WhatsApp\ Image\ 2026-02-25\ at\ 10.38.33.jpeg');
    background-size: cover;
    background-position: center;
}



.container{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 600px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: white;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.377);
    backdrop-filter: blur(10px);
}

.container h1{
    letter-spacing: 3px;
    font-size: 30px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: rgb(255, 255, 255);
} 

.input-box i{
    position: absolute;
    right: 20px;
    top: 25%;
    padding-top: 10px;
    font-size: 18px;

}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    margin: -10px 0 15px;
}

/*
margin e padding

1 valor sao pra todos
2 valores em cima e embaixo, e dos lados
3 valores em cima , dos lados , embaixo
4 valores cima,direita, embaixo, esquerda
*/

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 5px;

}

.remember-forgot a {
    text-decoration: none;
    color: white;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.login{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login:hover{
    background-color: transparent;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.2);
    transition: 0.5s;
    
}

.register-link{
    font-size: 14px;
    
    text-align: center;
    margin: 15px 0 15px;
}

.register-link a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 25px;

}

.register-link a:hover{
    text-decoration: underline;
}

.audio-box {
    
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.986);
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    border-radius: 30px;
    width: fit-content;
    margin: 20px auto;
}

.audio-box audio {
    width: 250px;
}


